<appSettings>
  <add key="Telerik.Skin" value="Default" />
  <add key="DavlMode" value="OnDemand" />
  <add key="SupportEmail" value="Dummy"/>
  <add key="DefaultEmail" value="Dummy"/>
  <add key="SmtpServer" value="localhost"/>
  <add key="ScreenCacheSize" value="10" />
  <add key="JQueryLibrary" value="jquery-1.4.2.js" />
</appSettings>
