<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TroposGoodsInProcured.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="TroposUI.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="TroposDeveloperToolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="fieldAssociations">
      <section name="twoPartKeys" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <appSettings file="appSettings.config"/>
  <connectionStrings/>
  <location path="WebServices">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.RadUploadProgressHandler.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" maxQueryStringLength="10240" executionTimeout="720"/>
    <!-- Set executionTimeout (seconds) higher than sendTimeout for TCS, otherwise the timeout error message may be missed -->
    <sessionPageState historySize="100"/>
    <!-- 
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
    -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH" enableCrossAppRedirects="true"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!-- <identity userName="ssidev\tui" password="Tu1pass" impersonate="true"/> -->
    <pages enableSessionState="true" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
    <globalization resourceProviderFactoryType="TroposUI.Common.Globalisation.TroposResourceProviderFactory, TroposUI.Common"/>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="802FCCF61682CF17507F15F60DE507E64F1F73A0EA8AE9F94D538F53075272FC" validationKey="F6342D686DAB6A3F6D4097045AF1672175F3F1E26AE365C7C4071684B34B8705"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImage_axd"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode,runtimeVersionv2.0"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=8"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service name="TDK.WebServices.TDKServices">
        <endpoint address="" behaviorConfiguration="TDK.WebServices.TDKServicesAspNetAjaxBehavior" binding="webHttpBinding" contract="TDK.WebServices.TDKServices"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDataUpdater" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2000000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IDataReader" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2000000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="BindingForWindowsAuth">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ImpersonationBehavior">
          <clientCredentials>
            <windows allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
        </behavior>
        <behavior name="TDK.WebServices.TDKServicesAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://tropostest/TroposCommunicationServices/DataUpdater.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataUpdater" contract="DataUpdater.IDataUpdater" name="WSHttpBinding_IDataUpdater" behaviorConfiguration="ImpersonationBehavior">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://tropostest/TroposCommunicationServices/DataReader.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataReader" contract="DataReader.IDataReader" name="WSHttpBinding_IDataReader">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <TroposGoodsInProcured.Properties.Settings>
      <setting name="ProductCode" serializeAs="String">
        <value>TDK</value>
      </setting>
    </TroposGoodsInProcured.Properties.Settings>
    <TroposUI.Common.Properties.Settings>
      <setting name="CredentialsUser" serializeAs="String">
        <value/>
      </setting>
      <setting name="CredentialsPassword" serializeAs="String">
        <value/>
      </setting>
      <!--
        Log levels: 
        -1 = No client logging, default logging on server
        0  = No client or server logging
        1  = Basic client and server logging
        2  = Detailed client and server logging
        3  = Details client and server logging with passwords in clear
      -->
      <setting name="LogLevel" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="LogRetainDays" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LogFileMRUListSize" serializeAs="String">
        <value>200</value>
      </setting>
    </TroposUI.Common.Properties.Settings>
    <TroposDeveloperToolkit.Properties.Settings>
      <setting name="ToolkitVersion" serializeAs="String">
        <value>1.5.0.170202</value>
      </setting>
    </TroposDeveloperToolkit.Properties.Settings>
  </applicationSettings>
  <fieldAssociations>
    <twoPartKeys>
      <add key="PORDITEM" value="PORDNOENT"/>
      <add key="SORDITEM" value="SORDNO"/>
      <add key="PENQITEM" value="PENQNOENT"/>
      <add key="PINVITEM" value="PLPOUREF"/>
    </twoPartKeys>
  </fieldAssociations>
</configuration>